*{ 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.entero{
    background-color: #F2E5D5;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Estilos del header */
.encabezado{
    font-weight: 700;
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    background-color: #F2E5D5;
}


.encabezado img{
    width: 80px;
}

.separacion{
    border: none;
    height: 2px;
    background-color: #D9564A; 
    width: 35%; 
    margin: 20px 0; 
}

/* Estilos para hacer el subrayado del hader con el hover (no pude hacer que quede marcado cuando saco el mouse) */
.encabezado .navbar-nav .nav-link{
    padding-bottom: 5px;
}
  
.encabezado .navbar-nav .nav-link:hover{
    border-bottom: 2px solid #D9564A;
}
  
.encabezado .navbar-nav .nav-link.active{
    border-bottom: 2px solid #D9564A; 
}

/* Estilo del texto en japones */

.tituloJapones{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #D9564A;
}

/* titulo del home h2 */
.titleP2{
    color: #D9564A;
}

/* posicion del cuerpo\\ */
.cuerpo{
    padding: 250px 150px;
   
}

/* hago space-between para acomodar el contenido del cuerpo en una misma linea y poder moverlos star y end */
/* .content{
    display: flex;
    justify-content: space-between;
    gap: 30px; 
} */

.reglon{
    border: none; 
    height: 2px;  
    background-color: #D9564A; 
    width: 35%; 
    margin: 20px 0; 
}

.textoCuerpo{
    width: 35%;
}

/* Estilos para la imagen */
.imgRamen{
    width: 45%;
    float: right;
    margin-top: -35%;
}




